<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
		   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
         <h2 class="display-1">Update user!</h2>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
    
	 <div class="container">
		  <!-- Example row of columns -->
		  <div class="row">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<p class="pull-left"></p>
					</div>	
					<div class="col-lg-6">
						<p class="pull-right"><a class="btn btn-success" href="/users/listing">Back</a></p>
					</div>	
				</div>
				<div class="col-lg-6">
					<form method="post" action="/users/update_user/<%= users._id %>">
					  					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Full Name</label>
						<input type="text" class="form-control" id="name" value="<%= users.name %>" name="name" placeholder="Enter Name">
					  </div>
					  
					  <div class="form-group">
						<label for="exampleInputEmail1">Email</label>
						<input type="email" class="form-control" id="email" value="<%= users.email %>" name="email" placeholder="Enter Email">
					  </div>
					  
					
					  <div class="form-group">
						<label for="exampleInputEmail1">Phone</label>
						<input type="text" class="form-control" id="phone" value="<%= users.phone %>" name="phone" placeholder="Enter Phone">
					  </div>
					  
					 
					  <button type="submit" class="btn btn-primary">Save</button>
					</form>
					
				</div>	
				

			</div>
		</div>	
        
  </body>
</html>
